<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}WODASHTECH{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<main>
{% with messages=get_flashed_messages(with_categories=true) %}
{% for cat,msg in messages %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endwith %}

{% block content %}{% endblock %}
</main>
</body>
</html>
